*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}


.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    display: flex;
}


.kolom-utama{
    flex: 3;
    order: 2;

}

.sidebar-satu{
    flex: 1;
    order: 1;

}

.sidebar-dua{
order: 3;
    flex: 1;
}
/* Latihan 2 */


.container-dua{
    max-width: 800px;
    margin:50px auto;
   

}


.layanan {
padding: 20px;
margin-bottom: 20px;
width: 100% ;



}

.layanan.satu {
    background-color: green;
}

.layanan.dua{
    background-color:purple;
}

.layanan.tiga{
    background-color: red;
}


.container-tiga{
    max-width: 800px;
    width: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail{
    width:50%;

}

.thumbnail img {
    width: 100%;

}


.container-empat{
    width: 800px;
    margin: 50px auto;
   display: flex;


}

.card{
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;
    flex: 1;


}

.card .header{
    height: 150px;
    background-color:#666;
}

.card .content{
    text-align: center;
    padding-bottom: 30px;

}


.card.besar{
    transform: scale(1.12);
}


.container-lima{
    width: 500px;
    height: 500px;
    border:  5px solid black;
    margin: 50px auto;
    display: flex;
}


.kotak {
width: 100px;
height: 100px;
background-color: brown;
color: white;
text-align: center;

margin:  auto;
display: flex;

}

.kotak span{
    margin: auto;
}


@media  (min-width:600px){
    .container-dua{
        display: flex;
        justify-content: space-between;


    }

    .layanan{
        width:30%;
        border-radius: 30px;
    }

    .thumbnail{
        width: 25%;
    }

}


